<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Question from BOARD</h1>
    <h3>About: <%= @product.name %></h3>
    <p>
      <%= @question %>
    </p>
    
    <p>Question from: <%= @questioner %></p>
  </body>
</html>